<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upenn.cis573.Trace2Win"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/trace2win"
        android:label="@string/app_name" >
        <activity
            android:name="MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="CharacterCreationActivity" >
        </activity>
        <activity
            android:name="CreateWordActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name="CreateLessonActivity" >
        </activity>
        <activity android:name="TagActivity" >
        </activity>
        <activity android:name="TestTagDbActivity" >
        </activity>
        <activity android:name="BrowseCharactersActivity" >
        </activity>
        <activity android:name="BrowseWordsActivity" >
        </activity>
        <activity android:name="BrowseLessonsActivity" >
        </activity>
        <activity android:name="PhrasePracticeActivity" >
        </activity>
        <activity android:name="ShoppingCartActivity" >
        </activity>
        <activity android:name="FilePickerActivity" >
        </activity>
    </application>

</manifest>