<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trace2learn.TraceMe"
    android:versionCode="15"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/trace2learn"
        android:label="@string/user_app_name_trad" >
        <activity
            android:name="com.trace2learn.TraceLibrary.MainUserActivity"
            android:label="@string/user_app_name_trad" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.trace2learn.TraceLibrary.ViewCharacterActivity" >
        </activity>
        <activity
            android:name="com.trace2learn.TraceLibrary.CreateWordActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name="com.trace2learn.TraceLibrary.CreateLessonActivity" >
        </activity>
        <activity android:name="com.trace2learn.TraceLibrary.TagActivity" >
        </activity>
        <activity android:name="com.trace2learn.TraceLibrary.TestTagDbActivity" >
        </activity>
        <activity android:name="com.trace2learn.TraceLibrary.BrowseCharactersActivity" >
        </activity>
        <activity android:name="com.trace2learn.TraceLibrary.BrowseWordsActivity" >
        </activity>
        <activity android:name="com.trace2learn.TraceLibrary.BrowseLessonsActivity" >
        </activity>
        <activity android:name="com.trace2learn.TraceLibrary.PhrasePracticeActivity" >
        </activity>
        <activity android:name="com.trace2learn.TraceLibrary.ShoppingCartActivity" >
        </activity>
        <activity android:name="com.trace2learn.TraceLibrary.FilePickerActivity" >
        </activity>
        <activity android:name="com.trace2learn.TraceLibrary.ChooseLessonCategoryActivity" >
        </activity>
        <activity android:name="com.trace2learn.TraceLibrary.LessonNarrativeActivity" >
        </activity>
        <activity android:name="com.trace2learn.TraceLibrary.IntroductionActivity" >
        </activity>
        <activity android:name="com.trace2learn.TraceLibrary.Statistics" >
        </activity>
        <activity android:name="com.trace2learn.TraceLibrary.AddToCollectionActivity">
        </activity>
    </application>

</manifest>