<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trace2learn.TraceMe"
    android:versionCode="3"
    android:versionName="3.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/tracethis"
        android:label="@string/app_name" >
        <activity
            android:name="MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.upenn.cis573.Trace2Win.library.ViewCharacterActivity" >
        </activity>
        <activity
            android:name="edu.upenn.cis573.Trace2Win.library.CreateWordActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name="edu.upenn.cis573.Trace2Win.library.CreateLessonActivity" >
        </activity>
        <activity android:name="edu.upenn.cis573.Trace2Win.library.TagActivity" >
        </activity>
        <activity android:name="edu.upenn.cis573.Trace2Win.library.TestTagDbActivity" >
        </activity>
        <activity android:name="edu.upenn.cis573.Trace2Win.library.BrowseCharactersActivity" >
        </activity>
        <activity android:name="edu.upenn.cis573.Trace2Win.library.BrowseWordsActivity" >
        </activity>
        <activity android:name="edu.upenn.cis573.Trace2Win.library.BrowseLessonsActivity" >
        </activity>
        <activity android:name="edu.upenn.cis573.Trace2Win.library.PhrasePracticeActivity" >
        </activity>
        <activity android:name="edu.upenn.cis573.Trace2Win.library.ShoppingCartActivity" >
        </activity>
        <activity android:name="edu.upenn.cis573.Trace2Win.library.FilePickerActivity" >
        </activity>
    </application>

</manifest>